html, body {
    margin: 0px;
    height: 100%;
}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 60fr 25fr 10fr;
    grid-template-areas: 
    "header"
    "main"
    "area"
    "footer";
   }

header,
main,
footer,   
.area {
    padding: 25px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header {
    background-color: blueviolet;
}

main {
    background-color: coral;

}
 .area {
     background-color: pink;
 }

footer {
    background-color: deeppink;
}

